@model IEnumerable<MyWCFIssues.Web.Models.FacturaViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CantidadFacturada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrePersona)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadFacturada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombrePersona)
        </td>
        <td>            
            @Html.ActionLink("Detalle", "DetalleFactura", new { idFactura=item.Id })         
        </td>
    </tr>
}

</table>


<div style="text-align:center;">
    <ul>
        <li style="display:inline-block">@Html.ActionLink("Atras", "ObtenerFacturasXPagina", new { noPagina = ViewBag.paginaActual - 1 })</li>
        <li style="display:inline-block; margin-left:20px; ">@Html.ActionLink("Siguiente", "ObtenerFacturasXPagina", new { noPagina = ViewBag.paginaActual + 1 })</li>
    </ul>
</div>
